{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile CV</title>
    <link rel="stylesheet" href="{% static 'CSS/cv.css' %}">
</head>
<body>
    <div class="create">
        <a href="{% url 'cv_create' %}" class="btn btn-primary">Create New</a>
        <a href="{% url 'cv_update' profile.id %}" class="btn btn-primary">Update CV</a>
    </div>
    <div class="download">
        <a href="{% url 'cv_download' profile.id %}" class="btn btn-warning">Download CV</a>
        <a href="{% url 'cv_delete' profile.id %}" class="btn btn-warning">Delete CV</a>
    </div>
    <div class="cv-container">
        <header class="cv-header">
            <h1>{{ profile.full_name }}</h1>
            <p>{{ profile.address }}</p>
            <p>{{ profile.email }}</p>
            <p>{{ profile.phone }}</p>
        </header>
        
        <section class="cv-section">
            <h2>Personal Statement</h2><hr>
            <p>{{ profile.summary }}</p>
        </section>

        <section class="cv-section">
            <h2>Education</h2><hr>
            <div>
            <div>
                <h3>{{ profile.university_faculty }}</h3>
                <p><i>{{ profile.university }}</i>({{ profile.university_gpa }} GPA) <span class="dates">{{ profile.university_joined_year }} - {{ profile.university_left_year }}  </span> </p>
            </div>
            <div>
                <h3>Higher Secondary School(+2,{{ profile.stream }})</h3>
                <p><i>{{ profile.college }}</i>({{ profile.college_gpa }} GPA) <span class="dates"> {{ profile.college_joined_year }} - {{ profile.college_left_year }}</span></p>
            </div>
                <h3>Secondary School</h3>
                <p><i>{{ profile.school }}</i>({{ profile.school_gpa }} GPA) <span class="dates"> {{ profile.school_joined_year }} - {{ profile.school_left_year }}<span></p>
            </div>
        </section>

        <section class="cv-section">
            <h2>Projects</h2><hr>
            <div>
                <h3>{{ profile.project }}</h3>
                <p> <span class="title">Description: </span>{{ profile.project_description }}</p>
                <p><span class="title">Project Link: </span> {{ profile.project_link }}</p>
            </div>
        </section>

        <section class="cv-section">
            <h2>Skills</h2><hr>
            <div>
                <h3>Technical Skills</h3>
                <p>{{ profile.technical_skills }}</p>
            </div>
            <div>
                <h3>Non-Technical Skills</h3>
                <p>{{ profile.nontechnical_skills }}</p>
            </div>
        </section>

        <section class="cv-section">
            <h2>Languages</h2><hr>
            <p>{{ profile.language }}</p>
        </section>

        <section class="cv-section">
            <h2>References</h2><hr>
            <div>
                <p>{{ profile.reference_name }}</p>
                <p>{{ profile.reference_position }}</p>
                <p>{{ profile.reference_organization }}</p>
                <p>{{ profile.reference_email }}</p>
                <p>{{ profile.reference_phone }}</p>
            </div>
        </section>
    </div>
</body>
</html>
