{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Profile</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="list">
        <a href="{% url 'list_view' %}" class="btn btn-primary">CV Downloads</a>
    </div>
    <h1>Create Resume</h1>
    <form method="post" action="">
        {% csrf_token %}
        <h2>Profile</h2>
        <label for="full_name">Full Name:</label>
        <input type="text" id="full_name" name="full_name" required><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="summary">Summary:</label>
        <textarea id="summary" name="summary" required></textarea><br><br>

        <h2>Education</h2>
        <label for="school">School:</label>
        <input type="text" id="school" name="school" required><br>

        <label for="school_gpa">School GPA:</label>
        <input type="number" step="0.01" id="school_gpa" name="school_gpa"><br>

        <label for="school_joined_date">School Joined Year:</label>
        <input type="text" id="school_joined_year" name="school_joined_year"><br>

        <label for="school_left_year">School Left Year:</label>
        <input type="text" id="school_left_year" name="school_left_year"><br>

        <label for="college">College:</label>
        <input type="text" id="college" name="college" required><br>

        <label for="college_gpa">College GPA:</label>
        <input type="number" step="0.01" id="college_gpa" name="college_gpa"><br>

        <label for="stream">Stream:</label>
        <select id="stream" name="stream" required>
            <option value="Science">Science</option>
            <option value="Management">Management</option>
            <option value="Humanities">Humanities</option>
        </select><br>

        <label for="college_joined_year">College Joined Year:</label>
        <input type="text" id="college_joined_year" name="college_joined_year"><br>

        <label for="college_left_date">College Left Year:</label>
        <input type="text" id="college_left_year" name="college_left_year"><br>

        <label for="university">University:</label>
        <input type="text" id="university" name="university" required><br>

        <label for="university_gpa">University GPA:</label>
        <input type="number" step="0.01" id="university_gpa" name="university_gpa"><br>

        <label for="university_faculty">University Faculty:</label>
        <input type="text" id="university_faculty" name="university_faculty" required><br>

        <label for="university_joined_year">University Joined Year:</label>
        <input type="text" id="university_joined_year" name="university_joined_year"><br>

        <label for="university_left_year">University Left Year</label>
        <input type="text" id="university_left_year" name="university_left_year"><br><br>

        <h2>Projects</h2>
        <label for="project">Project:</label>
        <input type="text" id="project" name="project"><br>

        <label for="project_description">Project Description:</label>
        <textarea id="project_description" name="project_description"></textarea><br>

        <label for="project_link">Project Link:</label>
        <input type="text" id="project_link" name="project_link"><br><br>

        <h2>Skills</h2>
        <label for="technical_skills">Technical Skills:</label>
        <input type="text" id="technical_skills" name="technical_skills"><br>

        <label for="nontechnical_skills">Non-Technical Skills:</label>
        <input type="text" id="nontechnical_skills" name="nontechnical_skills"><br><br>

        <h2>Language</h2>
        <label for="language">Language:</label>
        <input type="text" id="language" name="language"><br><br>

        <h2>Reference</h2>
        <label for="reference_name">Name:</label>
        <input type="text" id="reference_name" name="reference_name"><br>

        <label for="reference_position">Position:</label>
        <input type="text" id="reference_position" name="reference_position"><br>

        <label for="reference_organization">Organization:</label>
        <input type="text" id="reference_organization" name="reference_organization"><br>

        <label for="reference_email">Email:</label>
        <input type="email" id="reference_email" name="reference_email"><br>

        <label for="reference_phone">Phone:</label>
        <input type="text" id="reference_phone" name="reference_phone"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
